<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>soar</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/vue/dist/vue.min.js"></script>

    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 main">
                    <form class="form-inline">
                        <textarea class="form-control" rows="6" v-model="soar.sql"></textarea>
                        <button type="submit" class="btn btn-info" v-on:click.prevent="querySoar">验证</button>
                    </form>
                    <div class="output" v-html="soar.out"></div>
                </div>
                <div class="col-sm-4 sidebar">
                    <form>
                        <div class="form-group">
                            <label for="txt_addr">Address</label>
                            <input type="text" class="form-control" id="txt_addr" v-model="yaml['online-dsn'].addr"
                                placeholder="127.0.0.1:3306">
                        </div>
                        <div class="form-group">
                            <label for="txt_schema">Schema</label>
                            <input type="text" class="form-control" id="txt_schema" v-model="yaml['online-dsn'].schema"
                                placeholder="test">
                        </div>
                        <div class="form-group">
                            <label for="txt_user">User</label>
                            <input type="text" class="form-control" id="txt_user" v-model="yaml['online-dsn'].user"
                                placeholder="root">
                        </div>
                        <div class="form-group">
                            <label for="txt_password">Password</label>
                            <input type="text" class="form-control" id="txt_password" v-model="yaml['online-dsn'].password"
                                placeholder="123">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="chk_disable" v-model="yaml['online-dsn'].disable"> Is
                                Disable
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="float-button-area">
            <div>
                <button type="submit" class="btn btn-danger" v-on:click="revertYaml">还原</button>
            </div>
            <div>
                <button type="submit" class="btn btn-default" v-on:click="saveYaml">保存</button>
            </div>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>